.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5E422B;
  padding: 10px 20px;
  color: white;
}

.menuLogo {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.welcome {
  font-size: 18px;
}

.logout {
  height: 30px;
}

.logoutbutton {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hamburgerMenu {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #5E422B;
  color: black;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdownContent a,
.dropdownContent .dropdownItem {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdownContent .dropdownItem {
  cursor: default;
}

.dropdownContent a:hover,
.dropdownContent .dropdownItem:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownSubmenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #5E422B;
}

.dropdownContent .dropdownItem:hover .dropdownSubmenu {
  display: block;
}

.submenuLink {
  text-decoration: underline;
}
