
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.main {
    display: flex;
    flex: 1;
}

/* Side Bar Design */

.sidebar {
    background-color: #5C4033;
    padding: 20px;
    width: 200px;
    flex-shrink: 0;
}

.addRole {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.roleList {
    display: flex;
    flex-direction: column;
}

.role {
    background-color: #5C4033;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
}

.role:hover {
    background-color: #4CAF50;
}

.activeRole {
    background-color: #4CAF50;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.roleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roleActions {
    display: flex;
    gap: 10px;
}

.editIcon,
.deleteIcon {
    color: #5C4033;
    cursor: pointer;
}

.editIcon:hover,
.deleteIcon:hover {
    color: #4CAF50;
}

.batch {
    margin-bottom: 10px;
}

/* Table Design */

.intern-table {
    width: 100%;
    border-collapse: collapse;
}

.intern-table th,
.intern-table td {
    padding: 8px;
    text-align: center;
    border: 3px solid #000000;
}

.intern-table th {
    background-color: #418043;
    color: white;
    text-align: center;
}

.icon-container {
    display: flex;
    gap: 10px;
}

.intern-table input,
.intern-table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.create-batch {
    background-color: #418043;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Batch Modal Design */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #449d47;
    color: #e0e0e0;
}

.add-batch-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    background-color: #418043;
    color: white;
    border: 2px solid black;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.add-batch-btn:hover {
    background-color: #356c2f;
    color: #e0e0e0;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonSave {
    background-color: #4CAF50;
    color: white;
}

.buttonSave:hover {
    background-color: #3f9043;
}

.buttonCancel {
    background-color: #f44336;
    color: white;
}

.buttonCancel:hover {
    background-color: #e53935;
}

.select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.headerActions {
    display: flex;
    align-items: center;
}

.changeBatchBtn {
    background-color: #4CAF50; 
    color: #ffffff; 
    border: none;
    border-radius: 4px; 
    padding: 8px 16px;
    font-size: 14px; 
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.changeBatchBtn:hover {
    background-color: #409443; /* Darker shade for hover */
    color: #e0e0e0; /* Lighter text color on hover */
}


.iconContainer {
    display: flex;
    gap: 10px; 
    margin-left: auto;
}

.iconContainer svg {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px;
    font-size: 20px;
}

.iconContainer svg:hover {
    background-color: #e0e0e0;
}

.batchSelect {
    width: 100%; /* Full width on smaller screens */
    max-width: 150px; /* Max width for larger screens */
}

.noUsersMessage {
    text-align: center;
    color: #888; /* Adjust color as needed */
}

/* Export button styles */
.buttonExport {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline */
    display: inline-flex; /* Align items flexibly */
    align-items: center; /* Center align items vertically */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Larger font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-bottom: 20px; /* Add margin below button */
}

.buttonExport:hover {
    background-color: #45a049; /* Darker green on hover */
}

.buttonExport svg {
    margin-right: 8px; /* Space between icon and text */
}

.searchBar {
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.searchBar:focus {
    border-color: #007BFF; /* Changes border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a slight shadow on focus */
}

/* Design for User Cells */

.offboarding {
    background-color: rgba(255, 166, 0, 0.708);
}

.offboarded {
    background-color: rgba(255, 0, 0, 0.498);
}

.less-hours {
    background-color: rgba(255, 255, 0, 0.527);
}

.nameClick:hover{
    background-color: #cacaca;
    cursor:pointer;
}